* {
    border: 0;
    margin: 0;
}
h1 { 
    margin-top: 32px;
    margin-bottom: 32px;
}

li { 
    background-color: #1c1a1d;
    border: 4px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 32px;
    margin-left: 32px;
    padding: 32px;
    height: 300px;
    width: 250px;
    cursor: pointer;
    display: inline-block;  
    
}

.selected {
    background-color: hsl(280, 5%, 21%);
    border: solid 4px #1292fc;
}

.hidden {
   display: none;
}