* {
    font-family: "Fira Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid #030308;
    font-size: 1.125rem;
    padding: 2rem 0;
    text-align: center;
}

header > p {
    padding-top: 15px;
}

h1, h2 {
    font-family: "Lora", serif;
    font-weight: 400;
}

