* {
    margin: 0;
    padding: 0;
}

header, nav {
    background-color: #232323;
}

.menu_principal, a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin-right: 1rem;
    padding: 1rem;
}